<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/styles/all.min.css">
    <link rel="stylesheet" href="../../../assets/styles/normalize.css">
    <link rel="stylesheet" href="../../../assets/styles/bootstrap.css">
    <link rel="stylesheet" href="../../../assets/styles/Header/footerstyle.css">
    <title>footer</title>
</head>

<body>
    <footer class="pt-5 pb-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="General-info justify-content-center align-items-center">
                        <img src="../../../assets/images/Logo.png">
                        <p class="text-center">All Healthcare in one Place</p>
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-md-start">
                    <div class="links">
                        <h5 class="fs-6">Important Links</h5>
                        <ul class="list-unstyled lh-lg">
                            <li><a href="#">Log in</a></li>
                            <li><a href="#">Sign up as Patient</a></li>
                            <li><a href="#">Sign up as Doctor / Pharmacist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-md-start">
                    <div class="links">
                        <h5 class="fs-6">Need Help?</h5>
                        <ul class="list-unstyled lh-lg">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Doctors / Pharmacists Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-md-start">
                    <div class="links-mobile">
                        <ul class="list-unstyled">
                            <li><a href="#">
                                <img src="../../../assets/images/Get-it-on-google-play-badge.png" alt="Download From Google Play Store">
                            </a></li>
                            <li><a href="#">
                                <img src="../../../assets/images/download-on-the-app-store-apple.png">
                            </a></li>
                        </ul>
                        <div class="social">
                            <a href=""><i class="fa-brands fa-facebook-square"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                            <a href=""><i class="fa-brands fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
            Created By <span style="color:#26A0DB;">Ro<span style="color:#DF313B;"> ش </span>ta</span> Team<br>
            all Rights are Reserved                            
            &copy; 2022 Rostha.Inc
        </div>
    </footer>

    <script src="../../../assets/scripts/vue.js"></script>
    <script src="../../../assets/scripts/bootstrap.bundle.js"></script>
    <script src="../../../assets/scripts/all.min.js"></script>
    <script src="../../../assets/scripts/main.js"></script>
</body>

</html>