@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    /* height: 4000px; */
}

.navigation{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    font-weight: 400 !important;
    --tw-text-opacity: 1 !important;
    color: rgb(96 165 250 / var(--tw-text-opacity)) !important;
}

.navigation:hover{
    --tw-text-opacity: 1 !important;
    color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
    -webkit-text-decoration-line: underline !important;
    text-decoration-line: underline !important;
}

.primary{
    border-radius: 0.5rem !important;
    border-width: 1px !important;
    --tw-border-opacity: 1 !important;
    border-color: rgb(96 165 250 / var(--tw-border-opacity)) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.primary:hover{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.verticalBar{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity)) !important;
    width: 1px;
    height: 20px;
}

#sidebar {
    flex-direction: row-reverse;
}

.Hamburger {
    display: none;
}

.landingPage {
    width: 100%;
    height: calc(100vh - 4rem);
    flex-direction: column;
}

.landingPage h1 {
    letter-spacing: 3px;
}

#landing {
    background-image: url('../assets/images/main-slideShow/1.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    -webkit-animation: slideShow 30s ease-in-out infinite;
    animation: slideShow 30s ease-in-out infinite;
}

#landing::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity)) !important;
}

#landing h1:nth-child(1) {
    display: block;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: transparent;
    -webkit-animation: text_reveal 0.5s ease forwards;
    animation: text_reveal 0.5s ease forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#landing h1 {
    display: block;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: transparent;
    -webkit-animation: text_reveal_name 0.5s ease forwards;
    animation: text_reveal_name 0.5s ease forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    z-index: 2;
}

#landing .title1 {
    margin-right: 430px;
}

#landing .title2 {
    margin-left: 430px;
}

.getStarted {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 1rem;
    color: transparent;
    -webkit-animation: button_reveal 0.5s ease forwards;
    animation: button_reveal 0.5s ease forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    z-index: 2;
}

.Searching {
    width: 900px;
    height: 100px;
    border-radius: 10px;
    z-index: 2;
}

.Searching select {
    cursor: pointer;
    width: 220px;
    height: 40px;
}

.Searching .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 20px;
}

.Searching select {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity)) !important;
}

.Searching select:hover{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.Searching select[rel="hide"] {
    display: none;
}

.Searching select::after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.registerationForm {
    min-width: 350px;
}

.getStarted:hover {
    background-color: rgb(96 165 250 / var(--tw-bg-opacity)) !important;
    border-color: rgb(96 165 250 / var(--tw-bg-opacity)) !important ;
}

.formInput input {
    border: 1px solid rgb(185, 180, 180);
    border-radius: 5px;
    position: relative;
}

.formInput label {
    color: rgb(156, 150, 150);
}

.formInput .rememberMe {
    width: 15px;
    height: 15px;
}

.formInput .rememberMe:hover input ~ :checked{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(148 163 184 / var(--tw-bg-opacity)) !important;
}

.formInput .rememberMe input:checked ~ :checked{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
}

.formInput #email:active,
#password:active {
    border: 2px solid rgb(96 165 250 / var(--tw-bg-opacity));
}

.formInput input:focus-visible,
input:focus-visible {
    outline: none !important;
    border: 2px solid rgb(96 165 250 / var(--tw-bg-opacity));
}

.formInput input:focus-visible,
.formInput input:focus {
    outline: none !important;
    border: 1px solid rgb(96 165 250 / var(--tw-bg-opacity));
}

#email:focus + .placeholder,
#password:valid + .placeholder {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(96 165 250 / var(--tw-bg-opacity));
}

#showHideLogin {
    position: absolute;
    top: 58.5%;
    right: 12%;
}

#showHide {
    position: absolute;
    top: 94.5%;
    right: 597px;
    transform: translateY(-50%);
    cursor: pointer;
}

#showHideConfirm {
    position: absolute;
    top: 105.8%;
    right: 597px;
}

@media (min-width: 1200) {
    #showHide {
        top: 94.5% !important;
        right: 445px !important;
    }
}

@media (max-width: 992px) {
    #showHideLogin {
        position: absolute;
        top: 58.5% !important;
        /* right: 333px !important; */
    }

    #showHide {
        top: 94.8% !important;
        right: 347px !important;
    }

    #showHideConfirm {
        top: 105.8%;
        right: 347px;
    }

    #landing .title1,
    #landing .title2 {
        font-size: 40px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    #showHideLogin {
        position: absolute;
        top: 57.5% !important;
        right: 47px !important;
    }

    #showHide {
        top: 117% !important;
        right: 91px !important;
    }
}

@media (max-width: 768px) {
    #showHideLogin {
        position: absolute;
        top: 64.5% !important;
        /* right: 230px !important; */
    }

    #showHide {
        top: 105.5% !important;
        right: 241px !important;
    }

    #showHideConfirm {
        top: 117%;
        right: 241px;
    }

    #landing .title1,
    #landing .title2 {
        font-size: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .navMenu {
        position: fixed;
        align-items: center;
        justify-content: center;
        right: -100%;
        top: 5.5rem;
        flex-direction: column !important;
        gap: 5px;
        width: 70%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        --tw-bg-opacity: 1 !important;
        background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
        z-index: 1000;
    }

    .showHide {
        top: 63%;
        left: 62%;
    }

    .verticalBar {
        display: none;
    }

    .navMenu.active {
        right: 6px;
    }

    .navItem {
        margin: 2.5rem;
    }

    .Hamburger {
        display: block;
        cursor: pointer;
    }

    .Hamburger.active .bar:nth-child(2) {
        opacity: 1;
        transform: translateX(-10px);
    }

    .Hamburger.active .bar:nth-child(1) {
        transform: translate3d(10px, 6px, 5px);
        transform: translateY(3.5px) rotate(45deg);
        width: 60%;
    }

    .Hamburger.active .bar:nth-child(3) {
        transform: translateY(-3.5px) rotate(-45deg);
        width: 60%;
    }
}

@-webkit-keyframes text_reveal {
    100% {
        color: rgb(96 165 250 / var(--tw-bg-opacity));
    }
}

@keyframes text_reveal {
    100% {
        color: rgb(96 165 250 / var(--tw-bg-opacity));
    }
}

@-webkit-keyframes text_reveal_name {
    100% {
        color: rgb(248 113 113 / var(--tw-text-opacity));
    }
}

@keyframes text_reveal_name {
    100% {
        color: rgb(248 113 113 / var(--tw-text-opacity));
    }
}

@-webkit-keyframes button_reveal {
    100% {
        border: 1px solid rgb(239 68 68 / var(--tw-bg-opacity));
        border-radius: 10px;
        color: white;
        background-color: rgb(239 68 68 / var(--tw-bg-opacity));
        padding: 10px 15px;
    }
}

@keyframes button_reveal {
    100% {
        border: 1px solid rgb(239 68 68 / var(--tw-bg-opacity));
        border-radius: 10px;
        color: white;
        background-color: rgb(239 68 68 / var(--tw-bg-opacity));
        padding: 10px 15px;
    }
}

@-webkit-keyframes slideShow {
    0%,
    100% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/2.jpg);
    }

    25% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/3.jpg);
    }

    50% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/4.jpg);
    }

    75% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/5.jpg);
    }
}

@keyframes slideShow {
    0%,
    100% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/2.jpg);
    }

    25% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/3.jpg);
    }

    50% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/4.jpg);
    }

    75% {
        background-color: (0, 0, 0, 0.5);
        background-image: url(../assets/images/main-slideShow/5.jpg);
    }
}

/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
}

::before,
::after {
    --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: collapse;
    /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    /* 1 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
    outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
    resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
    cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
    display: none;
}

*, ::before, ::after{
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

@import "./custom-base-les.css";

.container{
    width: 100%;
}

@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}

@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}

@import "./custom-components.css";

.relative{
    position: relative;
}

.z-auto{
    z-index: auto;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.ml-5{
    margin-left: 1.25rem;
}

.mb-4{
    margin-bottom: 1rem;
}

.mt-4{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 0.5rem;
}

.mr-2{
    margin-right: 0.5rem;
}

.mt-5{
    margin-top: 1.25rem;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.ml-2{
    margin-left: 0.5rem;
}

.flex{
    display: flex;
}

.h-20{
    height: 5rem;
}

.h-12{
    height: 3rem;
}

.h-36{
    height: 9rem;
}

.h-auto{
    height: auto;
}

.h-9{
    height: 2.25rem;
}

.w-full{
    width: 100%;
}

.w-96{
    width: 24rem;
}

.w-10\/12{
    width: 83.333333%;
}

.w-11\/12{
    width: 91.666667%;
}

.w-1\/3{
    width: 33.333333%;
}

.cursor-pointer{
    cursor: pointer;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.rounded-md{
    border-radius: 0.375rem;
}

.border{
    border-width: 1px;
}

.border-gray-300{
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bg-gray-50{
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-gray-200{
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-100{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-red-400{
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}

.bg-blue-400{
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-center{
    text-align: center;
}

.text-7xl{
    font-size: 4.5rem;
    line-height: 1;
}

.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.font-semibold{
    font-weight: 600;
}

.font-normal{
    font-weight: 400;
}

.uppercase{
    text-transform: uppercase;
}

.text-blue-400{
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
}

.text-red-400{
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity));
}

.text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline{
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.shadow-md{
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-inner{
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@import "./custom-utilities.css";

.hover\:bg-blue-500:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.hover\:bg-red-500:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.hover\:bg-blue-600:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
    font-family: "Open Sans", sans-serif;
}

textarea {
    resize: none;
}

#sideBar.hide .dropJoinUs {
    display: none;
}

#sideBar {
    position: fixed;
    z-index: 1000;
    transition: 0.3s ease;
    overflow: hidden;
}
#sideBar.hide {
    width: 60px;
}
#sideBar.hide .sidebarTopMenu li a,
#sideBar.hide .sidebarDownMenu li a {
    width: 40px;
}
#sideBar.hide .sidebarTopMenu.active a,
#sideBar.hide .sidebarDownMenu.active a {
    width: 40px;
}
#sideBar .sidebarTopMenu li,
#sideBar .sidebarDownMenu li {
    height: 48px;
    background-color: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
#sideBar .sidebarTopMenu li.active,
#sideBar .sidebarDownMenu li.active {
    position: relative;
    background-color: #e5e7eb;
}
#sideBar .sidebarTopMenu li.active::before,
#sideBar .sidebarDownMenu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 #e5e7eb;
    z-index: -1;
}
#sideBar .sidebarTopMenu li.active::after,
#sideBar .sidebarDownMenu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 #e5e7eb;
    z-index: -1;
}
#sideBar .sidebarTopMenu li a,
#sideBar .sidebarDownMenu li a {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 18px;
    color: #28b3f4;
    white-space: nowrap;
    overflow-x: hidden;
}
#sideBar .sidebarTopMenu li a .sideBarIcon,
#sideBar .sidebarDownMenu li a .sideBarIcon {
    min-width: 40px;
    align-items: center;
    justify-content: center;
}
#sideBar .sidebarTopMenu li a:hover,
#sideBar .sidebarDownMenu li a:hover {
    color: white;
    background-color: #6ccaf6;
}
#sideBar .sidebarDownMenu .logout {
    color: red;
}
#sideBar .sidebarDownMenu .logout:hover {
    background-color: red;
    color: white;
}
#sideBar .dropJoinUs {
    position: relative;
    display: inline-block;
}
#sideBar .dropJoinUs .dropbtnJoin {
    margin-top: -16px;
    margin-left: -5px;
}
#sideBar .dropJoinUs .dropbtnJoin:hover {
    background-color: #006797;
}
#sideBar .dropJoinUs .drop-Jobs {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 26px;
    right: -97px;
}
#sideBar .dropJoinUs .drop-Jobs a {
    color: black;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
}
#sideBar .dropJoinUs .drop-Jobs a:hover {
    background-color: #ddd;
}
#sideBar .dropJoinUs .show {
    display: block;
}

/*end SideBar*/
/*start Content Header*/
#sideBar.hide ~ #contentHeader {
    width: calc(100% - 60px);
    left: 60px;
    transition: all 0.3s ease;
}

#contentHeader {
    position: relative;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.3s ease;
    height: 60px;
}
#contentHeader #searchBtn {
    font-size: 16px;
    background-color: #28b3f4;
    color: white;
    padding: 6px 7px;
    border-radius: 10px;
    cursor: pointer;
}
#contentHeader #searchBtn:hover {
    background-color: #006797;
}
#contentHeader .searchForm {
    height: 65px;
    position: absolute;
    top: -110%;
    left: 0;
    right: 0;
    padding: 0 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    z-index: 0;
    transition: all 0.3s ease;
}
#contentHeader .searchForm.show {
    top: 100%;
    border-bottom: 2px solid #28b3f4;
}
#contentHeader .searchForm .formInput {
    display: flex;
    align-items: center;
    justify-content: center;
}
#contentHeader .searchForm .formInput input {
    flex-grow: 2;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #e5e7eb;
    border-radius: 36px 0 0 36px;
}
#contentHeader .searchForm .formInput input:focus-visible {
    outline: none;
    border: 2px solid #28b3f4;
}
#contentHeader .searchForm .formInput button {
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
}
#contentHeader nav {
    position: relative;
}
#contentHeader nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    left: 0;
    box-shadow: -20px -20px 0 white;
}
#contentHeader .dropbtn:hover {
    background-color: #006797;
}
#contentHeader .dropDown {
    position: relative;
    display: inline-block;
}
#contentHeader .dropDown .drop-roles {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#contentHeader .dropDown .drop-roles a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#contentHeader .dropDown .drop-roles a:hover {
    background-color: #ddd;
}
#contentHeader .dropDown .show {
    display: block;
}
#contentHeader .showHideSide {
    color: #28b3f4;
}
#contentHeader form {
    width: 100%;
}
#contentHeader form .formInput input {
    flex-grow: 2;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #e5e7eb;
    border-radius: 36px 0 0 36px;
}
#contentHeader form .formInput input:focus-visible {
    outline: none;
    border: 2px solid #28b3f4;
}
#contentHeader form .formInput button {
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
}
#contentHeader .notfications {
    font-size: 20px;
    position: relative;
}
#contentHeader .numNotfi {
    position: absolute;
    top: -6px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}
#contentHeader .profilePic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

#contentHeader main {
    height: calc(100% - 40px);
}
#contentHeader main .pageIndex {
    gap: 10px;
    padding-left: 56px;
}
#contentHeader main .pageIndex li {
    color: rgb(176, 175, 175);
}
#contentHeader main .pageIndex li:hover {
    color: #28b3f4;
}
#contentHeader main .pageIndex .active {
    color: #28b3f4;
}
#contentHeader main .pageIndex .chervon {
    color: black;
}
#contentHeader main .pageIndex .chervon:hover {
    color: black !important;
}
#contentHeader main .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.6fr));
    grid-gap: 24px;
}
#contentHeader main .content .contentBox {
    padding: 24px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-weight: 600;
    transition: all 0.2s ease;
}
#contentHeader main .content .contentBox:hover {
    background-color: #eb6f6f;
}
#contentHeader main .content .contentBox .homeIcons {
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#contentHeader main .content .contentBox:nth-child(1) .homeIcons {
    background-color: #cfe8ff;
    color: #3c91e6;
}
#contentHeader main .content .contentBox:nth-child(2) .homeIcons {
    background-color: #ffe0d3;
    color: #fd7238;
}
#contentHeader main .content .contentBox:nth-child(3) .homeIcons {
    background-color: #fff2c6;
    color: #ffce26;
}
#contentHeader main .content .contentBox:nth-child(4) .homeIcons {
    background-color: lightgreen;
    color: green;
}
#contentHeader main .tableOfContent {
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentHeader main .tableOfContent .headofTable {
    align-items: center;
    justify-content: start;
    margin-top: 24px;
    border-radius: 10px;
    padding: 24px;
    background-color: white;
}
#contentHeader main .tableOfContent .headofTable form input {
    height: 34px;
    padding: 0 15px;
    background-color: #e5e7eb;
    border-radius: 10px;
    flex-grow: 2;
}
#contentHeader main .tableOfContent .headofTable form input:focus-visible {
    outline: none;
    border: 2px solid #28b3f4;
}
#contentHeader main .tableOfContent .headofTable form input:active {
    border: 2px solid #28b3f4;
}
#contentHeader main .tableOfContent .idCode {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentHeader main .tableOfContent .idCode h4 {
    padding: 2rem;
    font-weight: bold;
    color: #28b3f4;
    text-align: center;
}
#contentHeader main .tableOfContent .idCode img {
    width: 290px;
    padding-bottom: 1rem;
}
#contentHeader main .tableOfContent #roleTable,
#contentHeader main .tableOfContent #diseaseTable,
#contentHeader main .tableOfContent #medicineTable {
    width: 75%;
    border-radius: 10px;
    padding: 24px;
    background-color: white;
    overflow-y: scroll;
}
#contentHeader main .tableOfContent #roleTable .new,
#contentHeader main .tableOfContent #diseaseTable .new,
#contentHeader main .tableOfContent #medicineTable .new {
    background-color: #eee;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
}
#contentHeader main .tableOfContent #roleTable .new:focus-visible, #contentHeader main .tableOfContent #roleTable .new:active,
#contentHeader main .tableOfContent #diseaseTable .new:focus-visible,
#contentHeader main .tableOfContent #diseaseTable .new:active,
#contentHeader main .tableOfContent #medicineTable .new:focus-visible,
#contentHeader main .tableOfContent #medicineTable .new:active {
    outline: none;
    border: 1px solid #28b3f4;
}
#contentHeader main .tableOfContent #roleTable .addRole,
#contentHeader main .tableOfContent #roleTable .addDisease,
#contentHeader main .tableOfContent #roleTable .addMedicine,
#contentHeader main .tableOfContent #diseaseTable .addRole,
#contentHeader main .tableOfContent #diseaseTable .addDisease,
#contentHeader main .tableOfContent #diseaseTable .addMedicine,
#contentHeader main .tableOfContent #medicineTable .addRole,
#contentHeader main .tableOfContent #medicineTable .addDisease,
#contentHeader main .tableOfContent #medicineTable .addMedicine {
    width: 120px;
    background-color: #28b3f4;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
#contentHeader main .tableOfContent #roleTable .addRole:hover,
#contentHeader main .tableOfContent #roleTable .addDisease:hover,
#contentHeader main .tableOfContent #roleTable .addMedicine:hover,
#contentHeader main .tableOfContent #diseaseTable .addRole:hover,
#contentHeader main .tableOfContent #diseaseTable .addDisease:hover,
#contentHeader main .tableOfContent #diseaseTable .addMedicine:hover,
#contentHeader main .tableOfContent #medicineTable .addRole:hover,
#contentHeader main .tableOfContent #medicineTable .addDisease:hover,
#contentHeader main .tableOfContent #medicineTable .addMedicine:hover {
    background-color: #006797;
}
#contentHeader main .tableOfContent #roleTable th,
#contentHeader main .tableOfContent #diseaseTable th,
#contentHeader main .tableOfContent #medicineTable th {
    text-align: left;
    padding: 18px;
}
#contentHeader main .tableOfContent #roleTable td,
#contentHeader main .tableOfContent #diseaseTable td,
#contentHeader main .tableOfContent #medicineTable td {
    gap: 10px;
    padding: 18px;
}
#contentHeader main .tableOfContent #roleTable td.Options,
#contentHeader main .tableOfContent #diseaseTable td.Options,
#contentHeader main .tableOfContent #medicineTable td.Options {
    display: flex;
}
#contentHeader main .tableOfContent #roleTable tr,
#contentHeader main .tableOfContent #diseaseTable tr,
#contentHeader main .tableOfContent #medicineTable tr {
    border: 1px solid #eee;
    border-radius: 10px;
}
#contentHeader main .tableOfContent #roleTable .editBtn,
#contentHeader main .tableOfContent #roleTable .saveBtn,
#contentHeader main .tableOfContent #diseaseTable .editBtn,
#contentHeader main .tableOfContent #diseaseTable .saveBtn,
#contentHeader main .tableOfContent #medicineTable .editBtn,
#contentHeader main .tableOfContent #medicineTable .saveBtn {
    cursor: pointer;
    background-color: #28b3f4;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
#contentHeader main .tableOfContent #roleTable .editBtn:hover,
#contentHeader main .tableOfContent #roleTable .saveBtn:hover,
#contentHeader main .tableOfContent #diseaseTable .editBtn:hover,
#contentHeader main .tableOfContent #diseaseTable .saveBtn:hover,
#contentHeader main .tableOfContent #medicineTable .editBtn:hover,
#contentHeader main .tableOfContent #medicineTable .saveBtn:hover {
    background-color: #006797;
}
#contentHeader main .tableOfContent #roleTable .saveBtn,
#contentHeader main .tableOfContent #diseaseTable .saveBtn,
#contentHeader main .tableOfContent #medicineTable .saveBtn {
    display: none;
}
#contentHeader main .tableOfContent #roleTable .deleteBtn,
#contentHeader main .tableOfContent #diseaseTable .deleteBtn,
#contentHeader main .tableOfContent #medicineTable .deleteBtn {
    cursor: pointer;
    background-color: #eb6f6f;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
#contentHeader main .tableOfContent #roleTable .deleteBtn:hover,
#contentHeader main .tableOfContent #diseaseTable .deleteBtn:hover,
#contentHeader main .tableOfContent #medicineTable .deleteBtn:hover {
    background-color: #f13d3d;
}

/*End Content Header*/
/*media Queries*/
@media screen and (max-width: 768px) {
    #sideBar {
        width: 200px;
    }

    #contentHeader {
        width: 100%;
        left: 200px;
    }
    #contentHeader .searchBar {
        width: 214px;
    }
    #contentHeader form .formInput {
        width: 70%;
    }
    #contentHeader form .formInput select:focus-visible {
        outline: none;
    }

    #dropbtn {
        width: 130px;
        padding: 0;
    }

    #contentHeader form.showSearchForm .formInput input {
        display: block;
    }
    #contentHeader form.showSearchForm .formInput button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: white;
        background-color: #28b3f4;
    }

    .content {
        flex-direction: column;
    }
    .content .contentBox {
        width: 75%;
    }
}
@media (max-width: 576px) {
    #contentHeader .profilePic img {
        width: 36px;
        height: 36px;
    }

    #contentHeader {
        width: 100%;
    }
    #contentHeader #searchBtn {
        font-size: 14px;
    }
    #contentHeader .searchForm {
        height: 33px;
    }
    #contentHeader main .content {
        flex-direction: column;
    }
    #contentHeader main .content .contentBox {
        width: 75%;
    }
    #contentHeader main .tableOfContent {
        flex-direction: column;
    }
    #contentHeader main .tableOfContent .headofTable {
        flex-direction: column;
        justify-content: center;
    }
    #contentHeader main .tableOfContent table {
        width: 100%;
    }
    #contentHeader main .tableOfContent table th {
        font-size: 14px;
    }
    #contentHeader main .tableOfContent table td {
        padding: 10px;
        border-bottom: 2px solid #eee;
    }
    #contentHeader main .tableOfContent table td.roleOptions {
        gap: 10px;
    }
    #contentHeader main .tableOfContent table .saveBtn,
    #contentHeader main .tableOfContent table .editBtn,
    #contentHeader main .tableOfContent table .deleteBtn {
        width: 100%;
    }
}
/*media Queries*//*# sourceMappingURL=app.css.map */
