@use "../../../assets/styles/sass/colors" as *;
@use "../../../assets/styles/sass/fonts";
@use "../../../assets/styles/sass/global";
a {
  text-decoration: none;
  color: $blueColorDark;
}
ul {
  list-style: none;
}
footer {
  background-color: #eee;
  img {
    width: 150px;
  }
  .links {
      h5{
          color:$blueColorDark;
      }
    a {
      color: $redColorDark;
    }
  }
  .links-mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul{
          padding:0;
          margin:0;
          li{
              margin-bottom: -50px;
              padding:0;
              margin:0;
          }
      }
      .social{
          a{
            padding-right:5px;
            font-size:30px;

            color:$blueColorDark;
            &:hover{
                color:$redColorDark;
            }
          }
      }
  }
}
